<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/main.css">
    <script src="./public/js/main.js">

    </script>
    <title>Document-WEb</title>
</head>
<!-- <body style="background-color:red;"> -->
<body>
    <div class="container">

        <div class="flex-1 leftBar">

            <ul class="defList">

                <li class="profileItem"  id="ok">
                    <div class="profileTab">
                        <span class="">
                            Rishi Jha
                        </span>
                    </div>
                    
                </li>
                <li class="defLi" >
                    <span class="defSpan" id="s-idea">
                        Ideas
                    </span>
                </li>
                <li class="defLi">
                    <span class="defSpan" id="s-event">
                        Event
                    </span>
                </li>
                <li class="defLi" >
                    <span class="defSpan" id="s-news">
                        News
                    </span>
                </li>

                <li class="defLi">
                    <span class="defSpan" id="s-blog">
                        Blogs
                    </span>
                </li>
                <li style="margin-top: 150px;">
                    <span>
                        Logout
                    </span>
                </li>
            </ul>

        </div>

        <div class="flex-5 midContainer">
            <div class="row">
                <p id="path" class="path">
                    /
                </p>
            </div>
            <div class="none" style="overflow:auto;">
                <!-- <div class="ideablock">
                    <p class="ideaTitle">
                        yaha pr idea ka title rahega
                    </p>
                    <div class="row">
                        <p class="status flex-1">Created on: 1/1.1</p>
                        <p class="status alignItemFlexEnd">Updated on: 1/1.1</p>

                    </div>
                </div> -->

                <!-- Event dis[lay] -->
                <!-- <div class="row flex-1 wrap-c">
                    <div class="eventblock">
                        <p>
                            Event name
                        </p>
                        <div class="flex row">
                            <button>
                                pause
                            </button>
    
                            <button>
                                pause
                            </button>
                        </div>
                        
                    </div>
                    <div class="eventblock">
                        <p>
                            Event name
                        </p>
                        <div class="flex row">
                            <button>
                                pause
                            </button>
    
                            <button>
                                pause
                            </button>
                        </div>
                        
                    </div>

                    <div class="eventblock">
                        <p>
                            Event namebbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
                        </p>
                        <div class="flex row">
                            <button>
                                pause
                            </button>
    
                            <button>
                                pause
                            </button>
                        </div>
                        
                    </div>

                    <div class="eventblock">
                        <p>
                            Event namellllllllllllll
                        </p>
                        <div class="flex row">
                            <button>
                                pause
                            </button>
    
                            <button>
                                pause
                            </button>
                        </div>
                        
                    </div>

                    <div class="eventblock">
                        <p>
                            Event name
                        </p>
                        <div class="flex row">
                            <button>
                                pause
                            </button>
    
                            <button>
                                pause
                            </button>
                        </div>
                        
                    </div>

                    <div class="eventblock">
                        <p>
                            Event name
                        </p>
                        <div class="flex row">
                            <button>
                                pause
                            </button>
    
                            <button>
                                pause
                            </button>
                        </div>
                        
                    </div>

                    <div class="eventblock">
                        <p>
                            Event name
                        </p>
                        <div class="flex row">
                            <button>
                                pause
                            </button>
    
                            <button>
                                pause
                            </button>
                        </div>
                        
                    </div>

                    <div class="eventblock">
                        <p>
                            Event name
                        </p>
                        <div class="flex row">
                            <button>
                                pause
                            </button>
    
                            <button>
                                pause
                            </button>
                        </div>
                        
                    </div>
                </div> -->
                
                <!-- profile -->

                <div class="flex-1 profileContainer">
                    <div class="row">
                        <div class="flex-1 nameDiv center">
                            <h2>RishiJha</h2>
    
                        </div>
                        <div class="flex-2 detailContainer" style="background-color: red;">
                            <p>
                                Email: Rishi@gmail.com
                            </p>
    
                            <!-- <p>
                                Password: Rishi@gmail.com
                            </p> -->
                           Password: <input class="passInput" value="rishijha@gmail.com">
                            
                        </div>
                    </div>

                    <div class="flex-1 row">
                        <button class="secondarybtn">
                            Ideas
                        </button>
                        <button class="primarybtn">
                            Ideas
                        </button>
                    </div>
                    
                </div>

            </div>

        </div>

        <div class="flex-1 leftBar">

            <ul class="defList">

                <li class="profileItem"  id="ok">
                    <div class="profileTab">
                        <span class="">
                            Rishi Jha
                        </span>
                    </div>
                    
                </li>
                <li class="defLi" >
                    <span class="defSpan" id="s-idea">
                        Ideas
                    </span>
                </li>
                <li class="defLi">
                    <span class="defSpan" id="s-event">
                        Event
                    </span>
                </li>
                <li class="defLi" >
                    <span class="defSpan" id="s-news">
                        News
                    </span>
                </li>

                <li class="defLi">
                    <span class="defSpan" id="s-blog">
                        Blogs
                    </span>
                </li>
                <li style="margin-top: 150px;">
                    <span>
                        Logout
                    </span>
                </li>
            </ul>

        </div>
    </div>
</body>
</html>